body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #d6f7d0;
}

/* Заголовки */
h1 {
    color: #1a237e;
    font-size: 32px;
}

h2 {
    color: #303f9f;
    font-size: 26px;
}

/* Сусідні селектори */
h1 + h2 {
    margin-top: -10px;
    color: #1900ff;
}

h2 ~ p {
    color: #5a5a5a;
    font-style: italic;
}

/* Списки */
ul > li {
    margin-bottom: 5px;
    color: #ff00b3;
}

/* Користувацький список */
ul.custom-list {
    list-style-type: square;
    padding-left: 20px;
}

/* Посилання */
section a {
    color: #1976d2;
    text-decoration: none;
}

section > a {
    color: #00ff22;
    text-decoration: none;
}

section a:hover {
    text-decoration: underline;
}

.nav-link:visited {
    color: purple;
}

.nav-link:active {
    color: orange;
}

/* Перший елемент списку */
.product-list li:first-child {
    font-weight: bold;
    color: green;
}

/* Таблиця */
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    background-color: rgb(255, 255, 255);
}

th, td {
    border: 1px solid #ff0000;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #00f7ff;
    color: #0d47a1;
}

td img {
    border-radius: 8px;
}

/* Псевдоелементи */
.promo::before {
    content: "🔥 ";
    font-size: 20px;
}

.promo::after {
    content: " 🛍️";
    font-size: 20px;
}

/* Блочний елемент */
.promo {
    background-color: #e1f5fe;
    border: 1px solid #0288d1;
    padding: 10px;
    margin: 15px 0;
    width: 300px;
    float: right;
    position: relative;
}

/* Рядковий елемент */
.label {
    font-weight: bold;
    color: #d32f2f;
}

/* Дочірній селектор */
section > p {
    background-color: #e0e0e0;
    padding: 5px;
    border-left: 3px solid #616161;
}

/* Плаваючий елемент */
.floating-frame {
    display: block;
    margin: 30px auto;
    border: 3px solid #90caf9;
    border-radius: 10px;
}

/* Зображення */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 10px;
}